<p id="notice"><%= notice %></p>

<h1><%= t '.title', user_name: @user.full_name %></h1>

<ul>
	<li><%= t '.locatino', locatino: @user.locatino %></li>
</ul>

<%= link_to t('.edit'), edit_user_path(@user) %>

<%= link_to 'Home', root_path %>
