<nav>
	<ul>
		<li><%= link_to t('layout.new_book'), new_book_path %></li>
		<li><%= link_to t('layout.books'), books_path %></li>
		<li><%= link_to t('layout.my_profile'), user_path(current_user) %></li>
		<li><%= link_to t('layout.signout'), user_sessions_path, method: :delete %></li>
	</ul>
</nav>
